@import "../scss/queries";

$color-yellow: #f2d602 !important;
$color-overlay: rgb(0, 24, 33, 0.7);
$color-background: #182837 !important;
$color-background-1: #1c5f7c !important;
$color-background-copy: #2f3d4b !important;

#about {
  background-image: linear-gradient($color-overlay, $color-overlay), url(../img/about-background.png) !important;
  background-position: bottom;
  background-size: cover;

  position: relative;

  .navbar {
    .nav-link {
      font-weight: 700;
    }
  }

  h1 {
    &::after {
      display: none;
    }
  }
}
